*{
    /*Aqui estou zerando as margens de toda a página*/
    margin: 0;
    /*Aqui estou definindo a cor de fundo da página*/
    background-color: rgb(255, 255, 255);
}
header{
    /*Definindo a cor padrão para o cabeçalho*/
    background-color: #0340e9; 
    /*Aqui defini um preenchimento interno de 20 pixels*/
    padding: 20px;

}
  
.container1{
    /*Aqui estou aplicando a cor padrãp do cabeçalho no container1*/
    background-color: #0340e9;
    /*Aqui aplico um display flex nos itens do container, visando ter um controle preciso 
    sobre o alinhamento do itens*/
    display: flex;
    /*Aqui estou definindo o possicionamento horizontal dos itens do container*/
    justify-content: space-between;
    /*Aqui estou definindo o possicionamento vertical do itens do container*/
    align-items: center;
}
  
a img{
    /*Aqui estou aplicando o display em bloco*/
    display: block;
    /*Aqui estou centralizando a imagem*/
    margin: 0 auto;
}

.logo{
    /*Aqui estou aplicando a cor padrão do cabeçalho, no background da logo*/
    background-color: #0340e9;
    /*Aqui estou definindo a largura de minha logo*/
    width: 200px;
    /*Aqui na altura, eu utilei o valor auto, para definir a altura de um elemento de acordo com seu conteúdo interno.*/
    height: auto;
    /*Aqui estou definido uma margem esquerda*/
}
  
nav ul{
    /*Aqui estou aplicando a cor padrão na lista de botões*/
    background-color: #0340e9;
    /*Aqui estou removendo os marcadores padrões que por padrão são inseridos
    quando criamos uma lista*/
    list-style: none;
    /*Aqui estou zerando o espaçamento padrão da lista*/
    margin: 0;
    /*Aqui estou removendo o espaçamento interno da lista*/
    padding: 0;
}
  
nav ul li{
    /*Aqui apliquei o displey inline block, para que os itens da menu sejam exibido
    como blocos em linha*/
    display: inline-block;
    /*Aqui defini um espaçamento de 20 pixels entre os itens do menu*/
    margin-right: 20px;
}
  
nav ul a{
    /*Aqui estou aplicando a cor padrão do cabeçalho background dos itens da lista*/
    background-color: #0340e9;
    /*Aqui estou removendo o sublinhado dos links*/
    text-decoration: none;
    /*Aqui estou definindo a cor das letras dos links*/
    color: #ffffff;
    /*Aqui estou definindo o tamanho das letras dos links*/
    font-size: 16px;
}

nav ul a:hover{
    /*Aqui estou adicionando uma animação quando o usário colocar o cursor do mouse sobre os links*/
    color: #95bdb1;;
}

main{
    /*Aqui estou aplicando um espaçamento interno no conteúdo principal da página*/
    padding: 150px;
}
  
h1{
    /*Aqui estou definindo a cor do título da página inicial*/
    color: #2bbb90;
    /*Aqui estou definindo a fonte do título da página inicial*/
    font-family: 'Arial';
    /*Aqui estou definindo a espessura do texto, conhecido também como o peso da fonte*/
    font-weight: 700; 
    /*Aqui estou definindo o tamanho da fonte*/
    font-size: 40px;
    /*Aqui estou definindo o espaçamento entre as letras*/
    line-height: 1.5;
    /*Aqui defino a forma de alinhamento do texto*/
    text-align: start;
}
  
input[type="text"] {
    /*Aqui estou definindo o fonte do campo "Nome"*/
    font-family: 'Arial', sans-serif;
    /*Aqui estou definindo o tamnanho da fonte*/
    font-size: 16px;
    /*Aqui estou definindo a cor da fonte*/
    color: #333;
    /*Aqui estou denfindo o plano de */
    border: 1px solid #ccc;
    /*Aqui estou definindo um preenchimento interno no campo "Nome"*/
    padding: 10px;
    /*Aqui estou definindo uma margem para todos os lados do campo "Nome"*/
    margin: 5px;
    /*Aqui estou definindo uma largura para o campo "Nome"*/
    width: 250px;
}

input[type="email"] {
    /*Aqui estou definindo a fonte para o campo "E-mail"*/
    font-family: 'Arial', sans-serif;
    /*Aqui estou definindo o tamanho da fonte para o campo "E-mail"*/
    font-size: 16px;
    /*Aqui estou definindo a cor da fonte do campo "E-mail"*/
    color: #333;
    /*Aqui estou definindo uma borda para o campo "E-mail"*/
    border: 1px solid #ccc;
    /*Aqui estou definindo um preenchimento interno para o campo "E-mail"*/
    padding: 10px;
    /*Aqui estou definindo uma margem para todos lados do campo "E-mail"*/
    margin: 5px;
    /*Aqui estou definindo uma largura para o campo "E-mail"*/
    width: 250px;
}

textarea {
    /*Aqui estou definindo a fonte do campo "Mensagem"*/
    font-family: 'Arial', sans-serif;
    /*Aqui estou definindo o tamanho da fonte do campo "Mensagem"*/
    font-size: 16px;
    /*Aqui estou definindo a cor da fonte do campo "Mensagem"*/
    color: #333;
    /*Aqui estou definindo uma borda para o campo "Mensagem"*/
    border: 1px solid #ccc;
    /*Aqui estou definindo um preenchimento interno no campo "Mensagem"*/
    padding: 10px;
    /*Aqui estou definindo uma margem em todos os lados do campo "Mensagem"*/
    margin: 5px;
    /*Aqui estou definindo uma largura para o campo "Mensagem"*/
    width: 250px;
}

button[type="submit"] {
    /*Aqui estou definindo a cor de fundo do botão*/
    background-color: #2bbb90;
    /*Aqui estou definindo a cor da fonte do botão*/    
    color: #fff;
    /*Aqui estou definindo a altura da caixa do botão*/
    height: 35px;
    /*Aqui estou definindo a largura da caixa do botão*/
    width: 70px;
    /*Aqui estou definindo o arredondamento da borda do botão*/
    border-radius: 5px;
    /*Aqui estou definindo uma margem superior*/
    margin-top: 20px;
    /*Aqui estou definindo estou modificando o tipo do cursor que aparecerá quando estiver sobre o botão*/
    cursor: pointer;
}

button[type="submit"]:hover{
    /*Aqui este definindo algums efeitos que ocorreram quando o cursor estiver sobre o botão "Enviar"*/
    background-color: #fff;
    color: #2bbb90;
}